<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="twitterApi" restartOnExternalChanges="true" requirePermission="false" type="Twitter.Api.TwitterSection, Twitter.Api" />
  </configSections>

  <twitterApi userName="[YourTwitterUsername]">
    <consumerKey value="[YourConsumerKey]" />
    <consumerSecret value="[YourConsumerSecret]" />
    <accessToken value="[YourAccessToken]" />
    <accessTokenSecret value="[YourAccessTokenSecret]" />
  </twitterApi>

</configuration>
